
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

h1 {
    text-align: center;
    color: #4CAF50;
    margin-bottom: 20px;
}

.rubrica-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 900px;
}

.rubrica-table {
    width: 100%;
    border-collapse: collapse;
}

.rubrica-table th, .rubrica-table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.rubrica-table th {
    background-color: #4CAF50;
    color: white;
}

.rubrica-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.rubrica-table tr:hover {
    background-color: #e0e0e0;
}

.rubrica-table a {
    color: #f44336;
    text-decoration: none;
}

.rubrica-table a:hover {
    text-decoration: underline;
}

button{
	display: block; 
	margin: 0 auto; 
	width: 200px;
	padding: 10px 10px;
	background-color: #4CAF50;
	
}
